body {
    background-color: #E5E5E5;
    font-family: Roboto;
}

.first {
    width: 1920px;
    height: 700px;
    background: #EEEFF1;
    margin: 0 auto;
}

.navigation {
    padding: 0px 0 150px 0;
    box-sizing: border-box;
    width: 1920px;
    margin: 0 auto;
}

.navigation-logo, .navigation-list {
    float: left;
    box-sizing: border-box;
    margin: 0 auto;
}

.navigation-logo {
    padding-top: 57px;
     
}

.navigation-list {
    margin: 0 auto;
    padding-top: 50px;
    margin-right: 50px;
}
.navigation-list ul {
    list-style-type: none;
}

.navigation-list ul li {
    float: left;
    margin-right: 43px;
}

.navigation-item a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: black;
    text-decoration: none;

}

.navigation-item-bl a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: black;
    text-decoration: none;
}

.navigation-item-bl a :hover{
    color: #306cb6;  
}

.frame-svg, .frame-wrapper {
    float: left;
    margin: 15px auto 0 auto;
    box-sizing: border-box;
    padding-top: 60px;
}

.frame-wrapper h1 {
    font-weight: 500px;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    
}

.frame-wrapper p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 400px;
    padding-bottom: 49px;
}

.frame-button {
    width: 237px;
    height: 65px;
    left: 470px;
    top: 514px;
    background: #34547A;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.second {
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 1920px;
    height: 300px;
    padding-top: 100px;
}

.second-oan h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    width: 403px;
}

.second-oan p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
}

.third {
    width: 1920px;
    height: 250px;
    background: #34547A;
    margin: 0 auto;
}

.rectangle {
    padding-top: 100px;
    margin: 0 auto;
}

.rectangle-vector {
    float: left;
    
}

.rectangle-vector img {
    margin-right: 20px;
}

.men {
    width: 1920px;
    height: 750px;
    background-color: #FFFFFF;
    margin: 0 auto;  
    padding-top: 119px;
}

.lines {
    float: left;
    
}

.line h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.line p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.colorbl {
    border: 2px solid #C4C4C4;
    width: 414px;
    height: 6px;
    left: 40px;
    top: 1546px; 
}

.colorbll {
    width: 265.26px;
    height: 6.02px;
    left: 40px;
    top: 1546.54px;
    background: #34547A;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.colorbllus {
    width: 312px;
    height: 6px;
    left: 40px;
    top: 1650px;
    background: #34547A;
}

.colorblliss {
    width: 214px;
    height: 6px;
    left: 40px;
    top: 1754px;
    background: #34547A;
}

.man {
    float: right;
    
}

.video {
    background: #EEEFF1;
    width: 1920px;
    height: 780px;
    padding: 50px 0;
    margin: 0 auto;
    box-sizing: border-box;

}

.video-wrapper {
    padding: 0 266px 0 266px;
    box-sizing: border-box;
}

.video-wrapper h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.video-wrapper p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.video-wrapper iframe {
    padding-top: 50px;
}

.plitka {
    margin: 0 auto;
    width: 1920px;
    height: 512px;
}

.plate {
    position: relative;
}

.plate:hover .overlay {
    display: block;
}

.plate img {
    float: left;
    box-sizing: border-box;
    width: 480px;
    height: 480px;
}

.overlay {
    background: rgba(52, 84, 122, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 480px;
    display: none;
}

.overlay i {
    font-size: 100px;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microsoft {
    width: 1920px;
    height: 427px;
    background: #FFFFFF;
    margin: 0 auto;
}

.block2 {
    float: left;
    box-sizing: border-box;
    padding-top: 70px;
    margin-right: 30px;
}

.block2 img {
    width: 200px;
    height: 120px;
}

.veb-sait {
    width: 1920px;
    height: 872px;
    margin: 0 auto;
    background: #EEEFF1;
    padding-bottom: 80px;
}

.veb-sait-wrapper {
    padding-top: 80px;
    margin: 0 auto;
}

.sait-wrapper h2 {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    padding-bottom: 25px;
    width: 406px;
}

.sait-wrapper p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
}

.FIO {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
} 

.name {
    float: left;
    margin-right: 40px;
    
}

.name input {
    width: 273px;
    height: 65.86px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    margin-bottom: 35px;
}
 .email {
     float: left;
 }

.email input {
    width: 273px;
    height: 65.86px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}

.message {
    float: left;
}
.message input {
    width: 633px;
    height: 230px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    margin: 20px 0 50px 0;
}

.message-button {
    width: 190px;
    height: 72.45px;
    background: #34547A;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
        
}

.LOG {
    width: 1920px;
    height: 150px;
    background: #34547A;
    margin: 0 auto;
}

.LOG-NAME {
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}

.LOG-NAME h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.LOG-NAME p {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.vk {
    float: right;
    padding-right: 50px;
}

.LOG-VK {
    float: left;
    margin-right: 30px;
    margin-top: 45px;
}

.clearfix::after {
    clear: both;
    content: "";
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}