body {
    background-color: #E5E5E5;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.first {
    max-width: 1920px;
    height: 700px;
    background: #EEEFF1;
    margin: 0 auto;
}

.navigation {
    padding: 0px 0 150px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.navigation-logo {
    float: left;
    margin: 0 auto;
}

.navigation-list {
    float: right;
    margin: 0 auto;
}

.navigation-logo {
    padding-top: 57px;
     
}

.navigation-list {
    margin: 0 auto;
    padding-top: 50px;
    margin-right: 50px;
}
.navigation-list ul {
    list-style-type: none;
}

.navigation-list ul li {
    float: left;
    margin-right: 43px;
}

.navigation-item a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: black;
    text-decoration: none;
}

.navigation-item a:hover{
    color: #34547A;
    margin: 0;
}

.navigation-item-bl a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: black;
    text-decoration: none;
}

.navigation-item-bl a:hover{
    color: #34547A;
    margin: 0;
}

.frame-svg {
    float: left;
    margin: 0 auto;
    padding-top: 60px;
}

.frame-wrapper {
    float: left;
    margin: 0 0 0 150px;
    box-sizing: border-box;   
}

.frame-wrapper h1 {
    font-weight: 500px;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    
}

.frame-wrapper p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-width: 540px;
    padding-bottom: 49px;
}

.frame-button {
    width: 237px;
    height: 65px;
    left: 470px;
    top: 514px;
    background: #34547A;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
main {
    max-width: 1920px;
}
.second {
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 300px;
    padding-top: 100px;
}

.second-oan {
    margin: 0 auto;
}

.second-oan h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.second-oan p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 auto;
}

.third {
    height: 250px;
    background: #34547A;
    margin: 0 auto;
}

.rectangle-all {
    padding-top: 100px;
    margin: 0 auto;
}

.rectangle-title {
    display: none;
}

.proekt {
    padding: 0 15px;
    float: left; 
}

.rectangle-vector {
    float: left;
    padding: 0 5px;
    margin: 0 auto; 
}


.rectangle-wrapper {
    float: left;  
    padding: 0 10px;
}

.rectangle-wrapper h3 {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.rectangle-wrapper p {
    font-size: 16px;
    line-height: 2px;
    color: #FFFFFF;
   
}
.rectangle-vector1 img {
    padding-right: 0;
    width: 150px;
}

.rect {
    display: none;
}

.men {
    height: 750px;
    background-color: #FFFFFF;
    margin: 0 auto;  
    padding-top: 150px;
    box-sizing: border-box;
}

.lines {
    float: left;
}

.line h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.line p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.colorbl {
    border: 2px solid #C4C4C4;
    width: 414px;
    height: 6px;
    left: 40px;
    top: 1546px; 
}

.colorbll {
    width: 265.26px;
    height: 6.02px;
    left: 40px;
    top: 1546.54px;
    background: #34547A;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.colorbllus {
    width: 312px;
    height: 6px;
    left: 40px;
    top: 1650px;
    background: #34547A;
}

.colorblliss {
    width: 214px;
    height: 6px;
    left: 40px;
    top: 1754px;
    background: #34547A;
}

.man {
    float: left;  
    padding-left: 150px;
}

.video {
    background: #EEEFF1;
    height: 1004px;
    padding: 50px 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.video-wrapper {
    margin: 0 auto;
    
}

.video-wrapper h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.video-wrapper p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.video-block iframe {
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    height: 600px;
}


.plitka {
    margin: 0 auto;
    
}

.plate {
    float: left;
    width: 25%;
    position: relative;
    background: url(./images/1.png) no-repeat;
    background-size: cover;
}

.plate.plate:nth-child(2n) {
    background: url(./images/2.png) no-repeat;
}

.plate:hover .overlay {
    display: block;
}

.plate img {
    width: 100%;
}

.overlay {
    background: rgba(52, 84, 122, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.overlay i {
    font-size: 100px;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microsoft {
    height: 290px;
    background: #FFFFFF;
    margin: 0 auto;
}

.microsoft-block2 {
    margin: 0 auto;
}

.block2 {
    float: left;
    margin: 0 auto;
    padding-right: 15px;
}

.block2 img {
    width: 255px;
}

.veb-sait {
    margin: 0 auto;
    background: #EEEFF1;
    padding-bottom: 80px;
}

.veb-sait-wrapper {
    padding-top: 80px;
    margin: 0 auto;
}

.sait-wrapper h2 {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    padding-bottom: 25px;
}

.sait-wrapper p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
  
}

.FIO {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
}

form {
    max-width: 540px;
    margin: 0 auto;
}

.name-input {
    float: left;
}

.email-input {
    float: right;
}

.name {
   margin-bottom: 20px;
}

.name input {
    width: 255px;
    height: 50px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;  
    display: block;
}

.message input {
    width: 540px;
    height: 175px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    margin: 0 0 20px 0;
    display: block;
    padding-bottom: 50px;
    box-sizing: border-box;
    
}

.message-button {
    width: 190px;
    height: 72.45px;
    background: #34547A;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    display: block;    
}

footer {
    max-width: 1920px;
}

.LOG {
    height: 150px;
    background: #34547A;
    margin: 0 auto;
}

.LOG-NAME {
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}

.LOG-NAME h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.LOG-NAME p {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.vk {
    float: right;
    padding-right: 50px;
}

.LOG-VK {
    float: left;
    margin-right: 30px;
    margin-top: 45px;
}

.clearfix::after { 
    content: ""; /* Генерируем пустой элемент */
    clear: both; /* Отменяем обтекание*/
    display: block; /* Блочный элемент */
  }


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-title {
    display: none;
}

@media screen and (max-width: 1100px) {
  .first {
   padding-top: 18px;
  }
  
  .frame {
    padding-top: 15px;
  }
  
  .frame-svg, .frame-wrapper h1 {
    float: none;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    padding-top: 10px;
  }
 
  .frame-wrapper {
      text-align: center;
  }
  
  .frame-wrapper p {
     padding-bottom: 25px;
  }

   .frame-svg img {
    height: 200px; 
   }

   .navigation-logo img {
       padding: 0 50px;      
   }

   .navigation-list {
       float: none;
   }
   
   .navigation-list ul li {
       margin-right: 15px;
   }

   .navigation {
       padding-bottom: 0;
   }

   .rectangle-all {
       display: none;
   }
    .rectangle-title {
        display: block;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 180px;
        padding-right: 25px;
    }

    .rectangle-vector {
        padding-right: 70px;

    }

    .proekt {
        padding: 0 55px;
        margin: 0 auto;
    }

    .men {
        padding: 0 15px;
    }

    .lines {
        width: 50%;
        padding-left: 25px;
    }

    .line {
        margin-bottom: 25px;
    }

    .man img {
        width: 290px;
        padding-top: 10px;
    }

    .video-block iframe {
        margin: 0 auto;
        padding: 50px 0px;
        height: 250px;
    }
    
    .video-block {
        margin: 10px 0px;
    }

    .video-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .video {
        height: 550px;
    }

    .plitka {
        padding-left: 10px;
        padding-right: 10px;
    }

    .block2 {
        padding-right: 2px;
        padding-top: 10px;
    }

    .block2 img {
        width: 150px;
        padding-left: 20px;
    }

    .email-input {
        float: none;
        margin: 15px auto;
        
    }
    .name-input {
        float: none;
        margin: 0 auto;
    }

    .message input {
        max-width: 260px;
        height: 115px;
        margin: 10px auto;
    }

    .FIO {
        padding-left: 25px;

    }
  
    .frame-wrapper {
        float: none;
        margin: 0 auto;
    }

    .frame-wrapper p {
        margin: 0 auto;
    }

    .microsoft-block2 {
        display: inline-block;
      }
  
      .microsoft .container {
        text-align: center;
      }

  

 
}

@media screen and (max-width: 768px) {

    nav {
        padding-left: 0;
    }
    
    .navigation-logo, .navigation-list {
        float: none;
    }

    .navigation-logo {
        text-align: center;
        margin-bottom: 30px;
        padding-top: 5px;
   }

    .rectangle-vector {
        padding-right: 10px;
    }
    .rectangle-all {
        display: none;
    }

    .proekt {
        padding: 0 15px;
        margin: 0 auto;
    }

    .nav-title {
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
      }
    
      .nav-title a {
        text-decoration: none;

      }
      .navigation-list ul li  {
        float: none;
        text-align: center;
        margin: 0 0 10px 0;
      }

      .navigation-list {
        overflow: hidden;
        padding-top: 15px;
        margin-right: 0;
        height: 20px;
      }

      .nav-title:hover +.navigation-list {
          height: 250px;
      }

      .frame-wrapper h1 {
          margin-top: 0;
          margin-bottom: 0;
      }

      .LOG-NAME {
        float: none; 
        margin: 0 auto;
        padding-top: 10px;
    }
    .vk {
        float: none;
        padding: 0;
    }
    
      .LOG-VK {
        float: none; 
        margin: 0 auto;
        padding-right: 10px;
        text-align: center;
        display: inline;
    }
    
    .LOG-NAME h3 {
        text-align: center;
        margin: 0 auto;
    }

    .LOG-NAME p {
        text-align: center;
    }

   .vk-vk {
        margin: 0 auto;
        text-align: center;
    }

    .FIO {
        padding-bottom: 0px;
    }

    .veb-sait {
       padding-bottom: 20px;
    }

}

@media screen and (max-width: 461px) {
    .colorbl {
        border: 2px solid #C4C4C4;
        width: 200px;
        height: 6px;
        left: 40px;
    }

    .colorbll {
        width: 120px;
    }

    .colorbllus {
        width: 120px;
    }
    .colorblliss {
        width: 120px;
    }

    .line h2 {
       font-size: 15px;
    }

    .man {
        float: none; 
        padding-left: 50px;
    }

    .FIO {
        padding-bottom: 0px;
    }

    .veb-sait {
       padding-bottom: 20px;
    }


}

@media screen and (max-width: 362px) {

    .man {
        float: none;
        padding-left: 5px;
    }
    
    .frame-wrapper h1 {
        font-size: 25px;
    }

    .rectangle-title {
        margin: 0 auto;
        padding: 50px 0 0 0;
        display: inline-block;
    }   
    
    .proekt {
        padding: 0 5px;
    }

    .third {
        height: 150px;
    }

    .video {
        margin: 0 auto;
    }
    
    .video-wrapper p {
        margin: 0 auto;
    }

    .video-wrapper h2 {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .LOG-NAME {
        float: none; 
        margin: 0 auto;
        padding-top: 10px;
    }
    .vk {
        float: none;
        padding: 0;
    }
        
    .LOG-VK {
        float: none; 
        margin: 0 auto;
        padding-right: 10px;
        text-align: center;
        display: inline;
    }
    
    .LOG-NAME h3 {
        text-align: center;
        margin: 0 auto;
    }

    .LOG-NAME p {
        text-align: center;
    }

   .vk-vk {
        margin: 0 auto;
        text-align: center;
    }

    .FIO {
        padding-bottom: 0px;
    }

    .veb-sait {
       padding-bottom: 20px;
    }

}